
activity-selection/.idea/artifacts/activity_20011889_jar.xml
activity-selection/.idea/inspectionProfiles/Project_Default.xml
activity-selection/.idea/modules.xml
*.xml
activity-selection/.idea/modules.xml
*.MF
*.xml
activity-selection/.idea/workspace.xml
activity-selection/activity_20011889.iml
activity-selection/activity_20011889.iml
